* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: #030617;
    color: aliceblue;
    position: fixed;
    top: 0%;
    width: 100%;
}

.logo {
    font-size: 18px;
    display: block;
}

.logo span {
    color: yellow;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;

}

nav ul li a {
    display: block;
    color: aliceblue;
    text-decoration: none;
    margin-inline: 15px;
    font-size: 16px;
}

nav li a:hover,
ul li a.active {
    color: yellow;
    border-bottom: 2px solid white;
}

.icon {
    align-items: center;
    font-size: 20px;
    display: none;
}

@media only screen and (max-width:800px) {
    nav ul {
        display: none;
    }

    nav .icon {
        display: block;
    }

    ul.show {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50px;
        background-color: #030617;
        width: 100%;
        height: 250px;
        gap: 15px;
        padding: 0;
    }

}

/* banner css staert */
.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 480px;
    background-color: #111828;
}

.main img {
    width: 350px;

    padding: 10px 15px;
    background: #c5ccd3;
    border-radius: 5px;
}

.main h3 {
    font-size: 18px;
    font-weight: 600;
    color: yellow;
    margin-top: 22px;
    margin-bottom: 22px;
    ;
}

.main h1 {

    margin-top: 22px;
    margin-bottom: 10px;
    color: #c5ccd3;

}

.main p {
    color: #c5ccd3;
    margin-top: 10px;
    margin-bottom: 20px;
}

.main button {
    display: block;
    width: 150px;
    height: 40px;
    background-color: #facc16;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;


}

.main button:hover {
    background-color: #c5ccd3;
    transition: all 0.5s ease-in-out;
}

/* about me css start  */
.head {
    text-align: center;
    padding: 50px;

    color: #c5ccd3;
}

#head1 {
    background-color: #020617;
}

.head span {
    color: #facc16;
}

.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #020617;
    color: #c5ccd3;
    padding: 55px;


}

.about img {
    border: 2px solid seashell;
    margin-bottom: 20px;
    background-color: #c5ccd3;
    width: 250px;
    border-radius: 45%;
    margin-inline: 55px;
}

.about p {
    margin-top: 15px;
}

.about span {
    color: #facc16;
}


/* about me css end  */
/* service me css start  */
#head2 {

    background-color: #111828;
}

.service {

    background-color: #111828;
    padding: 25px;
}

.servicecard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 25px;


}

.card {
    color: #c5ccd3;
    border: 2px solid #c5ccd3;
    text-align: center;
    width: 450px;
    padding: 22px;
    border-radius: 5px;
    margin-inline: 20px;
    background-color: #020617;

}

.card h3 {
    padding: 20px;
    font-size: 18px;
}

.card p {
    font-size: 16px;
}

.card i {
    font-size: 30px;
}

/* service me css end  */
.myworkexp {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #020617;
    padding: 55px;


}

.mywork {
    width: 350px;
    height: 400px;
    background-color: #020617;
    margin-inline: 20px;
    color: #c5ccd3;
    text-align: center;
    border: 2px solid #c5ccd3;





}

.mywork h3 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;

}

.mywork p {
    margin-bottom: 20px;
}

.mywork a {
    text-decoration: none;
    font-size: 18px;
    color: #020617;
    background-color: #facc16;
    padding: 5px 50px;
    border: 2px solid #c5ccd3;
    border-radius: 5px;

}

.mywork img {
    width: 100%;
    height: 200px;
}

/* connect start */
.connect {
    background-color: #111828;
    padding: 55px;
}

.conatact {
    width: 600px;
    padding: 20px;
    border: 2px solid #c5ccd3;
    margin: auto;
    color: #c5ccd3;
}

.conatact input {
    width: 100%;
    padding: 5px;
    font-size: 17px;
    margin-top: 3px;
    background-color: transparent;
    color: #c5ccd3;

}
.conatact p{
    margin-top: 20px;
}
.conatact button{
    width: 150px;
    height: 40px;
    margin-top: 20px;
    outline:none  ;
    background-color: #facc16;
    font-size: 18px;
    border-radius: 5px;

}

/* connect end */

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 55px;

    background-color: #020617;
}
.text h3{
    text-align: center;
    color: #facc16;
}
.text p{
    text-align: center;
    color: #c5ccd3;
    margin-top: 12px;
}
